################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExceptionErrors/bin/Debug
/.vs/ExceptionErrors/v15/Server/sqlite3
/ExceptionErrors/obj/Debug
